<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/navigator.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <!-- Adding the footer -->
     <footer class="main-footer">
        <footer class="who-we-are">
            <ul>
                <li> 
                    We are hidden. 
                </li>
                <li>
                    Subscribe to our newsletter<br>
                    <input type="email" name="" class="subscribe-email"> <br> 
                    <input type="button" value="Subscribe" class="subscribe-button">
                </li>
            </ul>
        </footer>
        <footer class="categories">
            <ul>
                <li>
                    <a href="http://"> JQUERY </a>
                </li>
                <li>
                    <a href=""> JAVASCRIPT </a>
                </li>
                <li>
                    <a href=""> CSS </a>
                </li>
                <li>
                    <a href=""> HTML </a>
                </li>
            </ul>
        </footer>
        <footer class="about">
            <ul>
                <li> <a href=""> About Us </a> </li>
                <li> <a href=""> Privacy </a></li>
                <li> <a href=""> Contact Support </a></li>
                <li> <a href=""> Contact Sales </a></li>
            </ul>
        </footer>
    </footer>
    <footer>
        <div class="second-down-footer-info">

        </div>
    </footer>
</body>
</html>