<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../javascript/ajax-min.js"></script>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
</head>
<body>
    <!-- including the navigator -->
    <%- include('navigator.ejs'); %> 
    
    <div class="main-div">
        <h1 class="login-logo"> Login Here </h1>
        <div>
            <form action="" method="">
                <input type="email" name="" id="email" class="email" placeholder="Email address"> <br> 
                <input type="password" name="password" id="password" class="password" placeholder="Password"> <br> 

                <button type="submit" class="submit-btn" id="submit-btn"> Submit </button>
            </form>
        </div>
    </div>

    <!-- Adding the footer -->
   <%- include('footer.ejs'); %> 

   <!-- Adding javascript -->
   <script src="../javascript/login.js"></script>
</body>
</html>