<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/navigator.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="main-nav">
        <div class="inner-nav-div">
            <nav class="left-nav">
                <a href="/"> Home </a>
                <a href="#"> About </a>
                <a href="#"> Downloads </a>
                <a href="#"> Pricing </a>
                <a href="#"> Enterprise </a>
            </nav>
            <nav class="right-nav">
                <a href="/register" class="register"> Register </a>
                <a href="/login" class="login"> Log In </a>
            </nav>
        </div>
    </nav>
    
</body>
</html>